.calendar {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.calendarDateRow {
    padding: 1rem;
    background-color: var(--brand-primary-100);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 0 0 auto;
}

.calendarDateButton {
    display: flex;
    align-items: center;
    border: 1px solid var(--brand-primary-200);
    border-radius: 0.4rem;
    padding: 0.2rem 0.6rem;
    font-weight: bold;
    background-color: var(--color-bg-accent-light-3);
    cursor: pointer;
}

.calendarDateButton:hover {
    background-color: var(--color-bg-accent-light-2);
}

.calendarDateMonth {
    width: 5rem;
    text-align: end;
    padding-bottom: 0.2rem;
}

.calendarDateYear {
    width: 2.5rem;
    padding-bottom: 0.2rem;
}

.calendarMonth {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid black;
}

.calendarWeek {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.calendarDay {
    display: flex;
    flex: 1;
    border: 1px solid black;
    cursor: pointer;
}

.calendarDay:hover {
    background-color: var(--brand-primary-100);
}

.calendarDayDisabled,
.calendarDayWeekend {
    background-color: var(--color-bg-accent-light-2);
    color: var(--color-bg-accent-dark-3);
    cursor: default;
}

.calendarDayDisabled:hover,
.calendarDayWeekend:hover {
    background-color: var(--color-bg-accent-light-2);
}

.calendarDayNumber {
    font-size: 1.5rem;
    margin: 0.4rem 0.8rem;
}

.calendarWeekdays {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    border: 1px solid black;
    border-bottom: 0;
}

.calendarWeekday {
    flex: 1;
    border: 1px solid black;
    border-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding-block: 0.3rem;
}

.daysInfo {
    position: absolute;
    right: 1rem;
}
