.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000033;
}

.loadAnimation {
    animation: loading 2s cubic-bezier(0.36, 0.6, 0.31, 1) infinite;
}

.dotSecond {
    animation-delay: -0.5s;
}

.dotThird {
    animation-delay: -1s;
}

.dotFourth {
    animation-delay: -1.5s;
}

@keyframes loading {
    0% {
        r: 0;
    }
    25% {
        r: 3px;
        cx: 4px;
    }
    50% {
        r: 3px;
        cx: 12px;
    }
    75% {
        r: 3px;
        cx: 20px;
    }
    100% {
        r: 0;
        cx: 20px;
    }
}
